<div class="container">
    


    <form action="/answers/push" method="post">
        {{#each questions}}
            <div class="question-box">
                <p for="">{{this.num}}. {{this.text}}</p>


                    {{#each this.answers}}
                        <div class="radio-input">
                            <input class="radio-form" type="radio" name="AAA" id="aadssda{{num}}">
                            <label class="label" for="aadssda{{num}}">{{this.text}}</label>
                        </div>
                    {{/each}}

            </div>

        {{/each}}
        <input type="submit">
    </form>

</div>