<div class="container">
    


    <form action="/answers/push" method="post">
        {{#each questions}}
            <div class="question-box">
                <p for="">{{this.num}}. {{this.text}}</p>


                    {{#each this.answers}}
                        <div class="radio-input">
                            <input class="radio-form" type="radio" value="{{this.num}}" name="{{this.name}}" id="{{this.name}}{{this.num}}">
                            <label class="label" for="{{this.name}}{{this.num}}">{{this.num}}. {{this.text}}</label>
                        </div>
                    {{/each}}

            </div>

        {{/each}}
        <button class="btn-submit transition" type="submit">Отправить</button>
    </form>

</div>